*{
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
}

.AppTitle {
  text-align: center;
  margin-right: 1%;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
}
