.EditorCom {
    margin-left: -170px;
    margin-top: 46px;
    button {
      margin: 30px 0 30px 30px;
      padding: 10px;
      font-size: 16px;
      background-color: rgba(255, 255, 255, 0.205);
      color: rgb(0, 0, 0);
      border: 1px solid rgba(255, 255, 255, 0);
      border-radius: 5px;
    }
    :hover {
      cursor: pointer;
      color: rgb(255, 255, 255);
      background-color: #fcfcfc2a;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-2px);
    }
  }