.EditorUi {
  width: auto;
  height: auto;
  background-color: rgba(172, 172, 172, 0.199);
  margin-bottom: 3rem;
  color: white;

  .EditorContent {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 25%;
    width: 50%;

    h3 {
      font-size: 15px;
      margin-right: -50px;
    }
    input {
      width: 200px;
      height: 30px;
      color: white;
      margin-top: 10px;
      background-color: rgba(255, 255, 255, 0.205);
      border: 1px solid rgba(255, 255, 255, 0);
      border-radius: 5px;
      outline: none;
    }
  }
  .EditorCom {
    margin-left: -50px;
    button {
      margin: 30px 0 30px 30px;
      padding: 10px;
      font-size: 16px;
      background-color: rgba(255, 255, 255, 0.205);
      color: rgb(0, 0, 0);
      border: 1px solid rgba(255, 255, 255, 0);
      border-radius: 5px;
    }
    :hover {
      cursor: pointer;
      color: rgb(255, 255, 255);
      background-color: #fcfcfc2a;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-2px);
    }
  }
}
