.Details-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 25%;
  width: 50%;
  :hover {
    cursor: pointer;
    background-color: rgba(15, 15, 15, 0.705);
  }
  .grid-item {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(70, 69, 69);
    width: 275px;
    padding: 20px;
    font-size: 16px;
    text-align: center;
  }
}
.EditorCom {
  button {
    margin: 30px 0 30px 0px;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.205);
    color: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
  }
   button:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #fcfcfc2a;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
  }
}


