
.AppTitle {
    text-align: center;
    margin-right: 1%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
.navbar {
    list-style-type: none;
    margin-left: 43.5%;
    a {
        margin-left: 10px;
        text-decoration: none;
        color: white;
    }
    a:hover {
        cursor: pointer;
        color: rgb(54, 36, 214);
    }
}