.navbar {
    list-style-type: none;
    margin-left: 44.5%;
    a {
        margin-left: 10px;
        text-decoration: none;
        color: white;
    }
    a:hover {
        cursor: pointer;
        color: rgb(86, 159, 255);
    }
}